# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs
dist/
out/
build/
*.app
*.exe
*.dmg
*.deb
*.rpm
*.snap

# Environment & Local files
.env
.env.local
.env.*.local

# Editor & OS files
.DS_Store
Thumbs.db
Desktop.ini
.vscode/*
!.vscode/extensions.json
.idea/
*.sublime-workspace
*.sublime-project

# Temp/logs
*.log
.eslintcache
*.dmp

# Database & Local Data
*.db
*.db.*
*.sqlite
*.sqlite3

# Electron-builder artifacts & test outputs
*.blockmap
*.pdf
